[Unit]
Description=python-docker service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory= #dir to python-docker

# Remove old containers
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv

# Compose up
ExecStart=/usr/local/bin/docker-compose up

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target

