awscli
beautifulsoup4
boto3
firebase-admin
flask
ipython
jupyter
jupyterlab
matplotlib
mysql-connector-python
numpy
pandas
psycopg2-binary
ptpython
pygithub
pytest
python-lambda-local
pyyaml
requests
selenium
slackbot
slackclient

# resolve dependency conflict
flake8
autopep8
